# Игнорируем тяжелые папки фронтенда
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
.env*
.DS_Store

# Local uncompressed media backups
frontend/public/.originals/
frontend/public/logo-opt.png
